/exps/results/wikivote/alpha_prime/neighbor_analysis.pkl
/exps/results/wikivote/alpha_prime/randomization_tests.pkl
/data/twitter/
/data/slashdot/
/data/covid19/
/data/condmat/
/data/blm_alm/
/.idea/
/data/wikivote/simulations/alpha_0.01_signal_10/
/data/wikivote/simulations/alpha_0.01_signal_25/
/data/wikivote/simulations/alpha_0.01_signal_50/
/data/wikivote/simulations/alpha_0.01_signal_75/
/data/wikivote/simulations/alpha_0.01_signal_100/
/data/wikivote/simulations/mu1.5/
/data/wikivote/simulations/mu2/
/data/wikivote/simulations/mu3/
/data/wikivote/simulations/mu4/
/data/wikivote/simulations/mu5/
